# node modules

node_modules

# dist, build folder

build
dist  

# env file

.env.local

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/*.config


# Coverage
coverage