.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.dashboard h2 {
  margin: 0 0 20px 0;
}

.dashboard .bot-area .top-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.add-bot,
.remove-bot,
.add-order span {
  min-height: 40px;
  padding: 0 50px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.add-bot {
  background-color: var(--orange);
  color: var(--white);
  margin-right: 10px;
}

.add-order span {
  padding: 0 15px;
  background-color: var(--orange);
  color: var(--white);
  margin-left: 10px;
}

.remove-bot {
  background-color: var(--medium-orange);
}

.add-bot:hover,
.remove-bot:hover,
.add-order span:hover {
  background-color: var(--dark-background);
  color: var(--white);
}

.status-filter {
  display: flex;
  align-items: center;
}

.status-filter span {
  min-height: 40px;
  padding: 0 30px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: var(--orange);
  color: white;
  margin-right: 10px;
}

.status-filter span:last-child {
  margin-right: 0;
}

.status-filter span:hover {
  background-color: var(--dark-background);
  color: var(--white);
}

.order-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.list-content-item.pending {
  color: #f43f5e;
}

.list-content-item.processing {
  color: #3b82f6;
}

.list-content-item.complete {
  color: #10b981;
}

@media (max-width: 1024px) {
  .dashboard {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
}

@media (max-width: 767px) {
  .add-bot,
  .remove-bot {
    padding: 0 30px;
  }

  .orders-container .list-content,
  .orders-container .list-header {
    width: 280%;
  }

  .order-top-wrapper {
    flex-direction: column;
    align-items: flex-end;
  }

  .add-order {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
